<%- include('partials/head')%>

    <%- include('partials/navbar')%>

        <h1>The Home Page <%='hello world'.toUpperCase()%>
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, quaerat! Veritatis recusandae qui quo.
            Inventore,
            maiores illo ipsa qui ab tempore minima aliquid vel cupiditate nihil iusto, incidunt nisi quos.
            Voluptates sapiente molestiae itaque esse excepturi ad aliquid cumque odio temporibus, consequuntur nemo
            delectus fugiat consectetur sed laudantium hic sit officiis quo necessitatibus reiciendis! Nam est unde
            eaque
            aspernatur iure.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid consequatur animi eos porro,
            necessitatibus
            aut
            voluptates. Tenetur nulla ratione eum sapiente doloribus inventore repudiandae tempora! Id atque quod
            amet
            adipisci?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam officia inventore mollitia sint, officiis,
            quisquam iure cum eius aspernatur illum dignissimos laboriosam fugiat esse aliquid, eveniet doloremque?
            Placeat, sed laborum?
            Harum libero ad, praesentium aliquid iure molestias voluptate saepe. Reiciendis voluptatem doloremque ab
            asperiores distinctio fuga? Repudiandae ullam nemo placeat numquam facilis perspiciatis tenetur. In maxime
            asperiores ratione illum beatae!
            Enim quisquam aperiam dolorem ducimus deleniti nostrum voluptatibus, distinctio, eaque quia aliquam
            temporibus repellendus et laborum ipsa doloribus, facilis accusantium reiciendis necessitatibus
            exercitationem inventore fugit nobis fuga adipisci. Facere, magni.
            Suscipit repellendus fuga perspiciatis molestiae nihil ducimus, officia sunt adipisci architecto vero saepe!
            Modi, reiciendis totam! Accusamus et blanditiis saepe libero voluptatum minus recusandae eveniet sit! Vero
            impedit enim tempore?
            Ipsum tenetur nesciunt hic itaque animi nisi quibusdam, non necessitatibus architecto ea magnam cum repellat
            maiores possimus harum corporis voluptatum beatae tempore sapiente veritatis debitis recusandae. Possimus
            totam quidem quibusdam?
        </p>

        <%- include('partials/footer')%>