section {
    width: 80%;
    height: 800px;
    /* background-image: url("https://images.unsplash.com/photo-1620684339940-b115fb0ffb1e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
    background-size: cover;
    background-position: top; */
    background: center/cover url("https://images.unsplash.com/photo-1620684339940-b115fb0ffb1e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
    margin: auto;
}

h1 {
    font-size: 100px;
    color: white;
}