<%- include('partials/head')%>

    <%- include('partials/navbar')%>

        <h1>The Home Page <%='hello world'.toUpperCase()%>
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, quaerat! Veritatis recusandae qui quo.
            Inventore,
            maiores illo ipsa qui ab tempore minima aliquid vel cupiditate nihil iusto, incidunt nisi quos.
            Voluptates sapiente molestiae itaque esse excepturi ad aliquid cumque odio temporibus, consequuntur nemo
            delectus fugiat consectetur sed laudantium hic sit officiis quo necessitatibus reiciendis! Nam est unde
            eaque
            aspernatur iure.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid consequatur animi eos porro,
            necessitatibus
            aut
            voluptates. Tenetur nulla ratione eum sapiente doloribus inventore repudiandae tempora! Id atque quod
            amet
            adipisci?
            At alias molestias eum perferendis quas! Dolore earum, laudantium totam error, optio modi delectus
            reprehenderit
            in.
        </p>

        <%- include('partials/footer')%>