section {
    background-color: #6d6875;
    width: 800px;
    height: 800px;
}

div {
    background-color: #e5989b;
    width: 70%;
    height: 20%;
}

h1 {
    font-size: 20px;
    border: 1px solid black;
    line-height: 200%;
}

h2 {
    font-size: 2em; /*ems set relative to parent element. see article.*/
    margin-left: 1em;
}

h3 {
    font-size: 1.5em;
}

article {
    font-size: 15px;
}

p {
    font-size: 0.8em;
}

button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: paleturquoise;
}

ul {
    font-size: 1.5em;
}