.container {
  width: 80%;
  height: 100vh;
  background-color: white;
  margin: auto;
  text-align: center;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

@media only screen and (max-width: 800px) {
  .container {
    width: 100%;
  }
}
